.lt_content{
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    // 设置侧轴方向上的对齐方式
    // align-items: flex-end;
    > table{
        width: 100%;
        border:1px solid #ccc;
        td,th{
            height: 50px;
            border:1px solid #ccc;
            text-align: center;
        }
    }
    .pagination{
        align-self: flex-end;
    }
    .pageBox{
        width: 100%;
        height: 200px;
        position: relative;
        .pagination{
            position: absolute;
            right: 0;
            top: 0px;
        }
    }
}