
.lti_right_bottom{
    padding: 20px;
    text-align: right;
    table{
        width: 100%;
        th,td{
            text-align: center;
            padding: 10px 0;
            border: 1px solid #ddd;
        }
    }

}